<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831456807199-56rfb40d8h4tvk9lj2ammhk7bc8hqjv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831456807199-56rfb40d8h4tvk9lj2ammhk7bc8hqjv7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>831456807199-1otc8peen525k4ihn80rf081s6igd8sb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCB8pwIjcM_BQEdaPMT_hQDZNtWeLgR2WI</string>
	<key>GCM_SENDER_ID</key>
	<string>831456807199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ravetrade.com.ticketresale</string>
	<key>PROJECT_ID</key>
	<string>rave-trade-ca544</string>
	<key>STORAGE_BUCKET</key>
	<string>rave-trade-ca544.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831456807199:ios:fdaa6845bbedeb81cb882a</string>
</dict>
</plist>